<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1 userId="<%= user.username %>" id="sender">Welcome, <%= user.username %>!</h1>
        <nav>
            <button id="logout"><a href="/logout">Logout</a></button>
        </nav>
    </header>

    <div id="dashboard">
        <div id="online-users">
            <h2>Online Users</h2>
            <ul id="user-list">
                <% users.forEach(user => { %>
                    <li class="<%= user.online ? 'online' : 'offline' %>" data-username="<%= user.username %>">
                        <%= user.username %>
                    </li>
                <% }); %>
            </ul>
        </div>
        <button id="create-group">Create Group</button>
        <button id="join-group">Join Group</button>
    </div>

    <div id="chat-container">
        <div id="receiver-info" style="display: none;">Sending messages to: </div>

        <div id="chat-box">
            <ul id="messages"></ul>
            <input type="text" id="message" placeholder="Type a message">
            <button id="send">Send</button>
            <div id="group-chat-container" style="display: none;">
                <h3 id="group-name"></h3>
                <ul id="group-messages"></ul>
                <input type="text" id="group-message" placeholder="Type a message to the group">
                <button id="send-group">Send to Group</button>
                <button id="leave-group">Leave Group</button>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
